<label>Search</label>
<input type="text" ng-model="Doe"/>

<h3>Search Results</h3>


<!--http://getbootstrap.com/components/#list-group-custom-content-->
<!-- ~~~~~~~~~~~~~~~~~~~~~
        WAY 2
~~~~~~~~~~~~~~~~~~~~~~ -->
<!--
<div class="list-group" ng-repeat="person in people">
  <search-result person-object = "person"  formatted-address-function="formattedAddress(aperson)"></search-result>
    
</div>
-->
<!-- ~~~~~~~~~~~~~~~~~~~~~
        WAY 2
~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="list-group">
  <search-result person-object = "person"  formatted-address-function="formattedAddress(aperson)" ng-repeat="person in people">
    *search results may not be valid
    </search-result>
    
</div>