<html>
	<head>
		<link href="/assets/style.css"" type="text/css"" rel="stylesheet"/>
	</head>
	<body>
		<h1>Person: <%=  ID %></h1>
		<h2>Person.length: <%=  ID.length %></h1>
		<h3>Querystring Value <%=  Qstr %></h1>					
	</body>
</html>