extends  ../layout_view

block content
      form.form-signin(method='post', action='/authentication/login')
            h2.form-signin-heading #{title}
            label Username
            input.form-control(type='text', name='username', placeholder='Username', required, autofocus)
            label Password
            input.form-control(type='password', name='password', placeholder='Password', required)
            br
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in