extends layout

block content
	.container
		h1 About us
		p life and the world by reading books, magazines and newspapers. This is also very  15 important, as we cannot 
		
		ul
			li lessons we learn in life come f
			li self-respect from our experience, not from book
			li We cannot learn emotional feel
		p n the other hand, we cannot learn everything from books. "Experience is the best teacher" is an old cliché but I agree with it. The most important, and sometimes the hardest lessons we learn in life come from our participation in  20 situations. We learn how to get along with others or how to gain self-respect from our experience, not from books. We cannot learn emotional feelings, such as love and care, through books; they come from our rea