extends layout

block content
  .jumbotron
    .container
      h1 How May I help You!
      p Needless to say both learning sources, books and experience, are very important  25 to us. But in my opinion knowledge from experience is more important, because without knowledge from experience, it is impossible to get a real understanding of knowledge from books, and how to apply this knowledge to real world situations. 
      a.btn.btn-primary.btn-lg(href="#") learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About us
        p cture. Writing an academic essay means fashioning a coherent set of ideas into an argument. Because essays are essentia
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 An academy
        p  Academic essay means fashioning a coherent set of ideas into an argument. Because essays are essentia
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Sure. Wrius
        p  Cturg a coherent set of ideas into an argument. Because essays are essentia
        a.btn.btn-default(href="#") View Details