extends layout

block content
  h1= title
  p BizList is a resource to find info and details about high quality businesses in your area.
  a.button.success(href='/businesses') Browse Business Listings
